section {
    margin-bottom: 50px;
}

/*первое изображение на HOME*/
.st-cl {
    background-image: url('/static/main/img/home-11.jpg');
    height: 105vh;
    background-size: cover;
    background-position: left center;
}

/*изображение 50/50*/
.image-style {
    width: 100%;
    height: 129vh;
    object-fit: cover;
}

.lis-pic {
    height: 95vh;
}

.lis-pic-2 {
    height: 80vh;
}

/*текст на сером фоне - полоса*/
.gray-stripe {
    background-color: #e6eae9;
    height: auto;
}

/*4 картинки в ряд*/
.home-amen {
    max-width: 100%;
    height: auto;
}

/*списки 50/50*/
.my-list {
    text-align: left;
    margin-left: 20px;
    font-size: x-large;
}

.my-list-s {
    text-align: left;
    margin-left: 20px;
    font-size: medium;
}

/*переключатель 768px*/
.kar-1 {
    display: block;
}

.kar-2 {
    display: none;
}

/*переключатель 992px*/
.per-1 {
    display: block;
}

.per-2 {
    display: none;
}

@media only screen and (max-width: 1246px) {
    .st-cl {
        background-position: 13% center;
    }
}

@media only screen and (max-width: 1024px) {
    .st-cl {
        background-position: 10% center;
    }
}

@media only screen and (max-width: 992px) {
    .per-2 {
        display: block;
    }

    .per-1 {
        display: none;
    }

    .lis-pic {
        height: 55vh;
    }

    .lis-pic-2 {
        height: 60vh;
    }
}

@media only screen and (max-width: 850px) {
    .my-mt-50 {
        margin-top: 50px;
    }

    .st-cl {
        background-position: 16% center;
    }
}


@media only screen and (max-width: 768px) {
    .st-cl {
        height: 80vh;
        background-position: 6% center;
    }

    .image-style {
        height: 70vh;
    }

    .kar-1 {
        display: none;
    }

    .kar-2 {
        display: block;
    }

    .but-home {
        transform: rotate(-90deg);
        position: absolute;
        right: -81px;
        top: 45%;
    }

    .but-home1 {
        transform: rotate(-90deg);
        position: absolute;
        left: -164px;
        top: 45%;
    }
}

@media only screen and (max-width: 525px) {
    .st-cl {
        background-position: 8% center;
    }
}

@media only screen and (max-width: 425px) {
    .st-cl {
        background-position: 10% center;
    }
}

@media only screen and (max-width: 397px) {
    .st-cl {
        background-position: 13% center;
    }
}

@media only screen and (max-width: 366px) {
    .st-cl {
        background-position: 16% center;
    }
}


@media only screen and (max-width: 320px) {
    .st-cl {
        background-position: 18% center;
    }
}


.block-style {
    display: flex;
    width: 100%;
    padding-bottom: 0;
}

.start-img {
    height: 100vh;
    width: 100%;
}

/*кнопки 2 ввида:*/
/*залитая*/
.my-but {
    background-color: #335b4c;
    border: 3px solid #335b4c;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}

.my-but:hover {
    border: 3px solid #00311e;
    background-color: #00311e;
    color: white;!important;
    transition-duration: 1s;
}

.my-but:active {
    background-color: white;
    border: 3px solid #335b4c;
    color: #335b4c;
}

/*незалитая*/
.my-but-2 {
    background-color: Transparent;
    border: 2px solid #335b4c;
    color: #335b4c;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}

.my-but-2:hover {
    border: 2px solid #00311e;
    background-color: #00311e;
    color: white;
    transition-duration: 1s;
}

.my-but-2:active {
    background-color: white;
    border: 3px solid #335b4c;
    color: #335b4c;
}


/*До 31 января*/
.my-but-sales {
    background-color: #e58e07;
    border: 2px solid #e58e07;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}

.my-but-sales:hover {
    border: 2px solid #f8c01b;
    background-color: #f8c01b;
    color: white;
    transition-duration: 1s;
}

.my-but-sales:active {
    background-color: white;
    border: 3px solid #335b4c;
    color: #335b4c;
}




/*иконки*/
.whatsapp:hover, .facebook:hover,
.instagram:hover, .telegram:hover {
    fill: #00311e;
    transition-duration: 1s;
}

.my-green {
    fill: #00311e;
}

.block-style-img {
    height: 230px;
    width: auto;
}

.myfooter {
    background-color: #212529;
    color: #ffffff;
    width: 100%;
    padding: 2px;
    height: 50px;
    margin-bottom: 0;
}

.mygallery {
    margin-top: 90px;
    padding-bottom: 45px;
}

.gallery-img {
    width: 400px;
    height: 400px;
    margin-left: 10px;
}

/*плавное появление элементов*/
.element-animation {
    margin: 2rem 0;
    font-size: 3rem;
    /* Скроем элемент в начальном состоянии */
    opacity: 0;
    transform: translateY(20px);
}

.element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}


.my-none {
    display: none;
}



