{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Bentley Residences - About{% endblock %}
{% block activ-about %}active{% endblock %}

{% block content %}
    <section style="box-sizing: border-box; width: 100%; padding-bottom: 0">
        <div class="block-style align-items-center w-100 mx-0">
            <div class="col-lg-6">
                <div class="container text-center">
                    <h1 class="display-4 text-uppercase mb-4">An Imposing Sight At Miami's Sunny Isles Beach
                        Coastline</h1>
                    <p class="fs-4 about-text text-uppercase mb-0">An incredible location. Featuring unique ocean and
                        bayside views from every apartment, bringing the beauty of the outdoors into each new home.</p>
                </div>
            </div>
            <div class="col-lg px-0">
                <img class="image-style" style="height: 100vh;" src="{% static 'main/img/home-amen-1.jpg' %}" alt="">
            </div>
        </div>
    </section>



    <section style="background-color: #e6eae9; height: auto;">
        <div class="row">
            <div class="container text-center col-lg-9 mt-5">
                <h1 class="display-4 text-uppercase mb-4 my-font-h">Inspiring, Powerful, And Iconic.</h1>
                <p class="fs-4 about-text text-uppercase mb-0 my-font-p">A true game-changer, combining luxury living
                    and a sustainable environment.</p>
            </div>
        </div>
    </section>

    <section style="box-sizing: border-box; width: 100%; padding-bottom: 0">
        <div class="block-style align-items-center w-100 mx-0">
            <div class="col-lg px-0">
                <img class="image-style" style="height: 100vh;" src="{% static 'main/img/home-amen-2.jpg' %}" alt="">
            </div>
            <div class="col-lg-6">
                <div class="container text-center">
                    <h1 class="display-4 text-uppercase mb-4">More Than 200 Luxury Residences</h1>
                    <p class="fs-4 about-text text-uppercase mb-0">Built to meet the very best design and quality
                        standards.</p>
                    <p class="fs-4 about-text text-uppercase mb-0">A new way to embrace space and connect with the
                        stunning surrounding area.</p>
                    <p class="fs-4 about-text text-uppercase mb-0">The units will be built with completely sustainably
                        sourced materials and finishes, featuring Private Balconies with pool, sauna, and outdoor
                        showers.</p>
                </div>
            </div>
        </div>
    </section>

    <section style="height: auto;">
        <div class="row">
            <div class="container text-center col-lg-9 mt-5">
                <h1 class="display-4 text-uppercase mb-0">BE THE FIRST TO INVEST IN BENTLEYS INCREDIBLE NEW LUXURY
                    RESIDENCES.</h1>
                {#                <a href="{% url 'contact' %}"><button class="my-but text-uppercase">Contact us</button></a>#}
            </div>
        </div>
    </section>
{% endblock %}