{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Bentley Residences - About{% endblock %}
{% block activ-about %}active{% endblock %}

{% block content %}

    <section class="container-fluid mx-0" style="padding-bottom: 0;">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="container text-center">
                    <h2 class="display-4 text-uppercase mb-3 mt-4">about</h2>
                    <p class="fs-4 about-text text-uppercase mb-2">Exclusivity in everything - from the exquisite
                        architectural design and skillful innovative interior decoration of the highest level to the
                        mesmerizing views of the ocean and the bay from each apartment - is the hallmark of the Bentley
                        marque, which has existed for more than a hundred years.</p>
                </div>
            </div>
            <div class="col-lg-6 px-0">
                <img class="image-style" src="{% static 'main/img/home-2.jpg' %}" alt="">
            </div>
        </div>
    </section>

    <section class="container-fluid mx-0" style="margin-bottom: 25px;margin-top: 25px;background-color: #e6eae9; height: auto;">
        <div class="row">
            <div class="col-lg-11 text-center container">
                <div class=" mt-5">
                    <h2 class="fs-2 display-5 text-uppercase my-font-h">New heights are conquered by the British automobile company Bentley,
                        one of the world's most revered luxury car manufacturers</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid mx-0">
        <div class="row align-items-center">
            <div class="col-lg-6 px-0">
                <img class="image-style mb-3" src="{% static 'main/img/home-1.jpg' %}" alt="">
            </div>
            <div class="col-lg-6">
                <div class="container text-center">
                    <h2 class="display-4 text-uppercase mb-4">More Than 200 Luxury Residences</h2>
                    <p class="fs-4 about-text text-uppercase mb-0">The Bentley Residences - the cylindrical 230 meters
                        height tower -  is considered to be the tallest residential building on the coast of the USA,
                        scheduled to be completed in 2026.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid mx-0">
        <div class="row">
            <div class="text-center container col-lg-9">
                <h2 class="display-4 text-uppercase mb-0">Florida Green Building Council (FLGC) certification</h2>
            </div>
        </div>
    </section>

{% endblock %}