{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Bentley Residences - About{% endblock %}
{% block activ-about %}active{% endblock %}

{% block content %}

    <section class="container-fluid mx-0 pb-0">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="container text-center">
                    <h2 class="display-4 text-uppercase mb-3 mt-4">about</h2>
                    <p class="fs-4 about-text text-uppercase mb-2">New heights are conquered by the British automobile
                        company Bentley, one of luxury car manufacturers involved in residential projects in Miami as
                        well as Porsche, Aston Martin.</p>
                </div>
            </div>
            <div class="col-lg-6 px-0">
                <img class="image-style" src="{% static 'main/img/home-2.jpg' %}" alt="">
            </div>
        </div>
    </section>

    <section class="container-fluid mx-0 gray-stripe">
        <div class="row">
            <div class="col-lg-11 text-center container">
                <div class="mt-5 mb-5">
                    <h2 class="fs-4 display-5 text-uppercase my-font-h">Fascinating views of endless sunny beaches of
                        Miami coastline, turquoise waters of the Atlantic Ocean, opulent resort-style living, luxury
                        boutiques and souvenir shops, parks for active sports, spa, clubs, theatres, cafes and
                        restaurants - all these natural and residential features of Sunny Isles Beach will become a
                        permanent part of life in the Bentley Residences.</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid mx-0 pb-0">
        <div class="row align-items-center">
            <div class="col-lg-6 px-0">
                <img class="image-style" src="{% static 'main/img/home-1.jpg' %}" alt="">
            </div>
            <div class="col-lg-6">
                <div class="container text-center">
                    <h2 class="display-4 text-uppercase mb-4 my-mt-50">Exclusivity of Bentley Tower</h2>
                    <p class="fs-4 about-text text-uppercase mb-0">Exclusivity of the tallest building in the South
                        Florida, resembling an exterior of Bentley Continental, is felt not only in its incredible
                        height, shape and color, but in huge living areas filled with ocean air, large balconies and
                        terraces with individual spa facilities, elevators for personal cars and many other
                        technological innovations that make our life carefree and luxurious.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid mx-0 gray-stripe">
        <div class="row">
            <div class="col-lg-11 text-center container">
                <div class="mt-5 mb-5">
                    <h2 class="fs-4 display-5 text-uppercase my-font-h">Groundbreaking technologies and ecological
                        approaches to the construction of Bently's condo tower, decoration of apartments, electricity
                        consumption and minimization the impact of the development on local wildlife deserve every
                        delight!</h2>
                </div>
            </div>
        </div>
    </section>

{% endblock %}