{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Bentley Residences - Amenities{% endblock %}
{% block activ-amenities %}active{% endblock %}

{% block content %}

    <section class="container-fluid mx-0">
        <div class="row align-items-center" style="background-color: #e6eae9;">
            <div class="col-lg-6">
                <div class="container text-center">
                    <h2 class="display-5 text-uppercase mt-4 mb-3">Inside Amenities</h2>
                    <p class="fs-4 about-text text-uppercase mb-2">Each of the two hundred luxury apartments, developed
                        with the participation of Bentley specialists, is
                        promised to be equipped with panoramic windows, a private balcony with a swimming pool, an
                        outdoor shower
                        and a sauna.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 px-0">
                <img class="image-style" style="height: 100vh" src="{% static 'main/img/amenities/amen-6.png' %}"
                     alt="">
            </div>
        </div>
    </section>

    <section class="container mb-3 mt-3">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="col-lg-8 container text-center">
                    <hr>
                    <p class="fs-4 about-text text-uppercase mb-0">Moreover, the residents of the luxury tower are able
                        to get into their apartments without
                        leaving their cars. A private garage, available for each apartment, is located on the
                        same floor.</p>
                    <hr>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid mx-0 gray-stripe mt-0 mb-5">
        <div class="row">
            <div class="col-lg-11 text-center container">
                <div class=" mt-5">
                    <h2 class="fs-2 display-5 text-uppercase my-font-h">A lounge area with a life-size sculpture of a
                        Bentley
                        car will be equipped in the lobby of the skyscraper.</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid mx-0 pb-0">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="container text-center kar-1">
                    <hr>
                    <p class="my-list">- IN-UNIT MULTI-CAR GARAGE WITH A CAR ELEVATOR DIRECTLY TO EACH
                        RESIDENCE</p>
                    <p class="my-list">- PRIVATE BALCONY</p>
                    <p class="my-list">- PRIVATE POOL, SAUNA, AND OUTDOOR SHOWER</p>
                    <p class="my-list">- FLOOR-TO-CEILING WINDOWS WITH OCEAN AND BAY VIEWS</p>
                    <hr>
                </div>
            </div>
            <div class="col-lg-6 px-0">
                <img class="image-style" style="height: 100vh" src="{% static 'main/img/amenities/amen-5.png' %}"
                     alt="">
            </div>
        </div>
    </section>

    <section class="container-fluid mx-0 pb-20">
        <div class="row align-items-center">
            <div class="col-lg-6 px-0">
                <img class="image-style" style="height: 100vh" src="{% static 'main/img/amenities/amen-7.jpg    ' %}"
                     alt="">
            </div>
            <div class="col-lg-6">
                <div class="container text-center kar-1">
                    <hr>
                    <p class="my-list">- STATE-OF-THE-ART FITNESS CENTER</p>
                    <p class="my-list">- POOL WITH CABANAS</p>
                    <p class="my-list">- 24-HOUR RESTAURANT</p>
                    <p class="my-list">- SPA AREA</p>
                    <p class="my-list">- WHISKEY BAR</p>
                    <p class="my-list">- SIGAR SALON</p>
                    <p class="my-list">- LOUNGE AREA</p>
                    <p class="my-list">- CINEMA</p>
                    <p class="my-list">- LANDSCAPED GARDENS</p>
                    <hr>
                </div>
            </div>

        </div>
    </section>





    {#    <section class="container-fluid mx-0 pb-20">#}
    {#        <div class="row align-items-center">#}
    {#            <div class="col-lg-6">#}
    {#                <div class="container text-center kar-1">#}
    {#                    <hr>#}
    {#                    <p class="my-list">- IN-UNIT MULTI-CAR GARAGE WITH A CAR ELEVATOR DIRECTLY TO EACH#}
    {#                        RESIDENCE</p>#}
    {#                    <p class="my-list">- PRIVATE BALCONY</p>#}
    {#                    <p class="my-list">- PRIVATE POOL, SAUNA, AND OUTDOOR SHOWER</p>#}
    {#                    <p class="my-list">- FLOOR-TO-CEILING WINDOWS WITH OCEAN AND BAY VIEWS</p>#}
    {#                    <hr>#}
    {#                    <p class="my-list">- STATE-OF-THE-ART FITNESS CENTER</p>#}
    {#                    <p class="my-list">- POOL WITH CABANAS</p>#}
    {#                    <p class="my-list">- 24-HOUR RESTAURANT</p>#}
    {#                    <p class="my-list">- SPA AREA</p>#}
    {#                    <p class="my-list">- WHISKEY BAR</p>#}
    {#                    <p class="my-list">- SIGAR SALON</p>#}
    {#                    <p class="my-list">- LOUNGE AREA</p>#}
    {#                    <p class="my-list">- CINEMA</p>#}
    {#                    <p class="my-list">- LANDSCAPED GARDENS</p>#}
    {#                    <hr class="mb-4">#}
    {#                </div>#}
    {#                <div class="container text-center kar-2">#}
    {#                    <hr>#}
    {#                    <p class="my-list-s">- IN-UNIT MULTI-CAR GARAGE WITH A CAR ELEVATOR DIRECTLY TO EACH#}
    {#                        RESIDENCE</p>#}
    {#                    <p class="my-list-s">- PRIVATE BALCONY</p>#}
    {#                    <p class="my-list-s">- PRIVATE POOL, SAUNA, AND OUTDOOR SHOWER</p>#}
    {#                    <p class="my-list-s">- FLOOR-TO-CEILING WINDOWS WITH OCEAN AND BAY VIEWS</p>#}
    {#                    <hr>#}
    {#                    <p class="my-list-s">- STATE-OF-THE-ART FITNESS CENTER</p>#}
    {#                    <p class="my-list-s">- POOL WITH CABANAS</p>#}
    {#                    <p class="my-list-s">- 24-HOUR RESTAURANT</p>#}
    {#                    <p class="my-list-s">- SPA AREA</p>#}
    {#                    <p class="my-list-s">- WHISKEY BAR</p>#}
    {#                    <p class="my-list-s">- SIGAR SALON</p>#}
    {#                    <p class="my-list-s">- LOUNGE AREA</p>#}
    {#                    <p class="my-list-s">- CINEMA</p>#}
    {#                    <p class="my-list-s">- LANDSCAPED GARDENS</p>#}
    {#                    <hr class="mb-4">#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="col-lg-6 px-0">#}
    {#                <img class="image-style" style="height: 100vh" src="{% static 'main/img/amenities/amen-5.png' %}" alt="">#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}

{% endblock %}