{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Bentley Residences - Amenities{% endblock %}
{% block activ-amenities %}active{% endblock %}

{% block content %}

    <section class="container-fluid mx-0">
        <div class="row align-items-center" style="background-color: #e6eae9;">
            <div class="col-lg-6">
                <div class="container text-center mb-3 mt-5">
                    <h2 class="display-5 text-uppercase mb-3">EXTRAORDINARY AMENITIES OF EXTRAORDINARY BENTLEY'S
                        TOWER</h2>
                    <p class="fs-4 about-text text-uppercase mb-2">Extraordinary external and internal amenities of the
                        US's tallest beachfront residential tower branded by Bentley in Miami can satisfy each demanding
                        client.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 px-0">
                <img class="image-style" style="height: 100vh" src="{% static 'main/img/amenities/amen-6.png' %}"
                     alt="Bentley Residences">
            </div>
        </div>
    </section>

    <section class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="col-lg-8 container text-center">
                    <hr>
                    <p class="fs-4 about-text text-uppercase ">No. 1 item on list of internal amenities of Bentley
                        Residences Miami is the Dezervator, a branded car elevator, providing the opportunity to leave
                        the apartment inside your own car and be ready to the most extraordinary adventures. The in-unit
                        multi -car garage is on the same floor as the apartment.</p>
                    <hr>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid mx-0 gray-stripe">
        <div class="row">
            <div class="col-lg-11 text-center container">
                <div class="mb-5 mt-5">
                    <h2 class="fs-4 display-5 text-uppercase my-font-h">The skyscraper overlooks the Atlantic Ocean and
                        bay and takes advantage of its location in Sunny Isle Beach, demonstrating panoramic water views
                        through floor-to- ceiling windows from every apartment.</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid mx-0 mb-0">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="container text-center">
                    <p class="fs-4 about-text text-uppercase ">The luxury space organization of the large private
                        balcony terraces with a pool, a sauna and an outdoor shower will deserve the highest ratings and
                        distinguish your property from other ones.</p>
                </div>
            </div>
            <div class="col-lg-6 px-0">
                <img class="image-style" style="height: 100vh" src="{% static 'main/img/amenities/amen-5.png' %}"
                     alt="Bentley Residences">
            </div>
        </div>
    </section>

    <section class="container-fluid mx-0 pb-20 per-1">
        <div class="row align-items-center">
            <div class="col-lg-6 px-0">
                <img class="image-style" style="height: 100vh" src="{% static 'main/img/amenities/amen-7.jpg' %}"
                     alt="Bentley Residences">
            </div>
            <div class="col-lg-6">
                <div class="container text-center">
                    <p class="fs-4 about-text text-uppercase ">Residents will be able to appreciate a private restaurant
                        with a resident chief, a 24-hour cinema, a whiskey bar and a cigar lounge, a gym, a pool, a spa
                        salon, cabanas and landscaped gardens.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid mx-0 pb-20 per-2">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="container text-center">
                    <p class="fs-4 about-text text-uppercase my-mt-50">Residents will be able to appreciate a private restaurant
                        with a resident chief, a 24-hour cinema, a whiskey bar and a cigar lounge, a gym, a pool, a spa
                        salon, cabanas and landscaped gardens.</p>
                </div>
            </div>
            <div class="col-lg-6 px-0">
                <img class="image-style" style="height: 100vh" src="{% static 'main/img/amenities/amen-7.jpg' %}"
                     alt="Bentley Residences">
            </div>
        </div>
    </section>

    <section class="container-fluid mx-0 gray-stripe">
        <div class="row">
            <div class="col-lg-11 text-center container">
                <div class="mb-5 mt-5">
                    <h2 class="fs-4 display-5 text-uppercase my-font-h">All sought-after and unusual apartment amenities
                        on the most fastidious residents' wish lists - luxury, safety, convenience, wellness - will be
                        ensured!</h2>
                </div>
            </div>
        </div>
    </section>

{% endblock %}