{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Bentley Residences - Developers{% endblock %}
{% block activ-developers %}active{% endblock %}

{% block content %}
    <section class="container  pb-0" style="margin-top: 160px;!important;">
        <div class="row mb-5">
            <div class="col-lg-4">
                <h2 class="display-4 mb-5 text-uppercase">DEVELOPERS</h2>
            </div>
            <hr>
        </div>
    </section>

    <section class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 mb-5">
                <img style="width: 65%" src="{% static 'main/img/dev/images.png' %}" alt="">
            </div>
            <div class="col-lg-7">
                <h4 class="fs-1 display-5 text-uppercase mb-4">BENTLEY RESIDENCE MIAMI</h4>
                <p class="fs-4 about-text text-uppercase mb-4">Founded by creative and innovative real estate visionary
                    Michael Dezer, Dezer Development is one of the
                    largest holdings of beachfront property owned and developable in South Florida.</p>
                <p class="fs-4 about-text text-uppercase">The Dezers have more than 20 properties (mid-and
                    high-rise luxury condominiums, condo-hotels, resorts, and
                    rental communities) with over one million square feet in New York, Florida, Las Vegas.</p>
            </div>
        </div>
    </section>


    <section class="container-fluid mx-0 gray-stripe" style="margin-bottom: 70px">
        <div class="row">
            <div class="text-center container">
                <div class="container">
                    <div class="mb-5 mt-5">
                        <p class="fs-4 about-text text-uppercase mb-2 my-font-h">Make a profitable decision to purchase
                            ultra-luxury
                            apartments in the most fashionable Sunny Isles Beach
                            building!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <p class="fs-4 about-text text-uppercase mb-3">Gil Dezer, President of Dezer Development, considers
                    partnering with Bentley Motors as the extraordinary
                    opportunity to create something "inspiring, powerful and iconic".</p>
                <p class="fs-4 about-text text-uppercase mb-3">Needless to say that developing the Bentley Residence
                    Miami project, Dezer Development has planned to provide
                    such constructive bonuses that allow every resident to feel himself like the owner of the best
                    apartments on
                    Earth!</p>
                <p class="fs-4 about-text text-uppercase ">Dezer Development's residential projects with
                    ultra-luxury car brand partnerships, demonstrating an
                    automotive aesthetic into a residential space, attract most prosperous buyers. </p>
            </div>
            <div class="col-lg-6 text-center">
                <img class="image-style" style="height: 80vh" src="{% static 'main/img/dev/devel-gil.jpg' %}" alt="Gil Dezer">
            </div>
        </div>
    </section>


        <section class="container mb-5 mt-3">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="col-lg-11 container text-center">
                    <hr>
                    <p class="fs-4 text-uppercase mb-3">Extraordinary organization of the internal and external
                        space reflect the main idea of Bentley's philosophy -
                        readiness to new extraordinary journeys.</p>
                    <hr>
                </div>
            </div>
        </div>
    </section>


    <section class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center container">
                <img class="image-style" src="{% static 'main/img/dev/view.jpg' %}" alt="Bentley Residences">
            </div>
            <div class="col-lg-6">
                <h4 class="fs-1 display-5 text-uppercase mb-3 my-mt-50">TOP-BENTLEY DESIGN</h4>
                <p class="fs-4  text-uppercase mb-4">Great collaboration of Top South Florida-based Property
                    Developer Dezer Development, luxury automaker Bentley
                    Motors, incomparable architectural firm Sieger Suarez Architects is the opportunity to create unique
                    innovations in construction of Bentley Residences Miami project.</p>
                <p class="fs-4  text-uppercase mb-4">The first Bentley - branded residential tower in the
                    world, one of the largest residential condo towers of
                    the coastline of the South Florida will contain more than 200 apartments and stand at 749ft and more
                    than 60
                    stories high.</p>
                <p class="fs-4  text-uppercase">Among the most notable amazing design solutions of the
                    tower are its unusual cylindrical form and
                    floor-to-ceiling windows; picturesque ocean and bay views in every apartment; Bentley-patented car
                    elevator
                    and in-unit multi-car garage; huge area of private balconies with pools, saunas and outdoor showers;
                    environmentally safe building materials; eco-energy consumption.</p>

            </div>

        </div>
    </section>


{% endblock %}