{% extends 'main/layout.html' %}
{% load static %}


{% block title %}Bentley Residences - Inside Amenities{% endblock %}
{% block activ-about %}active{% endblock %}

{% block content %}



    <section style="box-sizing: border-box; width: 100%; padding-bottom: 0;">
        <div class="row w-100 align-items-center mx-0" >
            <div class="col-lg-6 info">
                <div class="container text-center">
                    <h1 class="display-4 text-uppercase mb-4">Bentley Residences</h1>
                    <p class="fs-4 about-text text-uppercase mb-0">Introducing the Tallest Beachfront Luxury Tower in the U.S.</p>
                </div>
            </div>
            <div class="col-lg px-0">
                <img class="image-style" src="{% static 'main/img/home-11.jpg' %}" alt="">
            </div>
        </div>
    </section>


    <section style="background-color: #e6eae9; height: auto;">
        <div class="row">
            <div class="container text-center col-lg-9 mt-5">
                <h1 class="display-4 text-uppercase mb-4">Inspiring, Powerful, And Iconic.</h1>
                <p class="fs-4 about-text text-uppercase mb-0">A true game-changer, combining luxury living and a sustainable environment.</p>
            </div>
        </div>
    </section>



    <section style="box-sizing: border-box; width: 100%; padding-bottom: 0;">
        <div class="row w-100 align-items-center mx-0" >
            <div class="col-lg px-0">
                <img class="image-style" src="{% static 'main/img/home-11.jpg' %}" alt="">
            </div>
            <div class="col-lg-6 info">
                <div class="container text-center">
                    <h1 class="display-4 text-uppercase mb-4">Bentley Residences</h1>
                    <p class="fs-4 about-text text-uppercase mb-0">Introducing the Tallest Beachfront Luxury Tower in the U.S.</p>
                </div>
            </div>
        </div>
    </section>

    <section style="background-color: #e6eae9; height: auto;">
        <div class="row">
            <div class="container text-center col-lg-9 mt-5">
                <h1 class="display-4 text-uppercase mb-0">BE THE FIRST TO INVEST IN BENTLEYS INCREDIBLE NEW LUXURY RESIDENCES.</h1>
{#                <a href="{% url 'contact' %}"><button class="my-but text-uppercase">Contact us</button></a>#}
            </div>
        </div>
    </section>
{% endblock %}