{% load static %}

{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static "main/img/favicon.ico" %}">

    <link rel="stylesheet" href="{% static 'main/css/update_style.css' %}">

    <link rel="stylesheet" href="{% static 'main/css/phone-code.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/theme.css' %}">

    <link rel="stylesheet" href="{% static 'main/fonts/style.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom: 1px solid #94c11d;">
    <div class="container">
        <a href="{% url 'index' %}" class="logo-svg me-auto me-lg-0">
            <img style="height: 50px" src="{% static 'main/img/bentley_logo.png' %}" alt="">
        </a>
        <button class="navbar-toggler btn-mobile-nav" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link {% block activ-home %}{% endblock %}" href="{% url 'index' %}">HOME</a></li>
                <li class="nav-item"><a class="nav-link {% block activ-about %}{% endblock %}" href="{% url 'about' %}">ABOUT</a></li>
                <li class="nav-item"><a class="nav-link {% block activ-developers %}{% endblock %}" href="{% url 'developers' %}">DEVELOPERS</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% block activ-amenities %}{% endblock %}" id="navbarDropdown" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">AMENITIES</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'inside' %}">indoor</a></li>
                        <li><a class="dropdown-item" href="{% url 'outside' %}">outdoor</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link {% block activ-gallery %}{% endblock %}" href="{% url 'gallery' %}">GALLERY</a></li>
                <li class="nav-item"><a class="nav-link {% block activ-listings %}{% endblock %}" href="{% url 'listings' %}">AVAILABLE UNITS</a></li>
                <li class="nav-item"><a class="nav-link {% block activ-contact %}{% endblock %}" href="{% url 'contact' %}">CONTACTS</a></li>
            </ul>
        </div>
    </div>
</nav>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <div class="footer-info">
        <div class="container text-center">
            <p class="mb-3">© 2021 Bentley, INC</p>
            <p class="mb-0"><a href="{% url 'privacy-policy' %}">Privacy Policy</a></p>
            <p class="mb-0"><a href="{% url 'disclaimer' %}">Legal Disclaimer</a></p>
        </div>
    </div>
</footer>



</body>