@font-face {
    font-family: "Bentley Residence Bold";
url('Bentley-Bold.woff2') format('woff2'), font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Bentley Residence Light";
url('Bentley-Light.woff2') format('woff2'), font-style: normal;
    font-weight: normal;
}

h1, h2, h3, h4, a, select, option {
    font-family: "Bentley Residence Bold", sans-serif;!important;
    color: #333333;
    /*color: #00311e;*/
}

p, ul, li {
    font-family: "Bentley Residence Light", sans-serif;!important;
    color: #727376;
    /*color: #335b4c;*/
}

.my-font-h {
    color: #00311e;
}

/*ссылки и кнопки*/
.my-font {
    font-family: "Bentley Residence Light", sans-serif;!important;
    color: #335b4c;
}

.my-font:hover {
    color: #00311e;
}

.my-font:active {
    color: #335b4c;
}

/*contacts*/
.my-font-contact {
    color: #727376;
}

.my-font-contact:hover {
    color: #333333;
}

.my-font-contact:active {
    color: #727376;
}